html {
    background-image: url("images/background.png") ;
    background-repeat: no-repeat;   
    background-size: cover;         
    background-position: center;
    
    

}

header h2{
    text-align: left;
    font-family: 'Amatic SC', cursive;
    color: white;
    text-shadow: 1px 1px 1px #000000;
    font-size: 25px;
    margin: 20px;
    
}

.title-section h1{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    color: rgb(250, 245, 157);
    text-shadow: 1px 1px 1px #000000;
    font-size: 50px;
    margin: 20px;
    padding-bottom: 100px;
    
    
}

.title-image {
   
    display: block;
    margin: 0 auto;
    width: 550px;         
}

aside {
    text-align: right;
    margin: 20px;
    font-family: 'Amatic SC', cursive;
    color: white;
    text-shadow: 1px 1px 1px #000000;
    font-size: 25px;
    

}

footer {
    text-align: left;
    font-family: 'Amatic SC', cursive;
    color: white;
    text-shadow: 1px 1px 1px #000000;
    font-size: 20px;
    margin: 20px;
    padding-top:50px;
    
}

a {
    text-decoration: none; /*removes blue style hyperlink*/
    color: white;
}



