html {
    background-image: url("images/background.png") ;
    background-size: cover;
    background-attachment: fixed;
    
    

}
.title-image {
   
    display: block;
    margin: 0 0 0 auto; /* top right bottom left */
    width: 50%;         
}

.info-section {
    text-align: right;
    margin: 20px;
    font-family: 'Amatic SC', cursive;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 16px;
    

}


